<header class="relative flex py-3 px-4 md:py-5 lg:px-24 h-16 md:h-22 items-center shadow-[0_4px_16px_0_rgba(17,34,17,0.05)] mb-0 {{ mb_class }} bg-white z-50">
  <div class="flex justify-between items-center h-9 w-full">
    <!-- Mobile Menu Toggle -->
    <div class="flex md:hidden">
      <button aria-controls="nav-mobile" aria-expanded="false" aria-label="Open menu" class="text-blackish-green focus:outline-none hover:opacity-80 transition-opacity cursor-pointer">
        <img src="/assets/image/hamburger-menu.svg" alt="menu" />
      </button>
    </div>

    <!-- Left Menu -->
    <nav class="hidden md:flex">
      <ul class="m-0 flex list-none p-0 gap-8">
        <!-- Active item -->
        <li class="nav-item {{ flight_active }}">
          <img src="/assets/image/airplane_light.svg" alt="Flight" />
          <a href="../flight-flow/find-flight.html" class="text-blackish-green no-underline">Find Flight</a>
        </li>
        <li class="nav-item {{ stays_active }}">
          <img src="/assets/image/bed_light.svg" alt="Stays" />
          <a href="../hotel-flow/find-stays.html" class="text-blackish-green no-underline">Find Stays</a>
        </li>
      </ul>
    </nav>

    <!-- Logo Center -->
    <div class="flex shrink-0 items-center">
      <a href="../index.html" class="flex items-center">
        <img src="/assets/image/logo-small.png" width="110" height="36" alt="Golobe" class="h-6 md:h-auto" />
      </a>
    </div>

    <!-- Right Menu -->
    <div class="flex items-center">
      <!-- BLOCK GUEST (Guest) -->
      <div id="guest-menu" class="flex items-center gap-2">
        <a href="../login-signup/login.html" class="hidden sm:block text-sm font-semibold px-4 md:px-6 py-2 md:py-3 text-blackish-green no-underline hover:bg-blackish-green/10 rounded-lg transition-colors">Login</a>
        <a href="../login-signup/signup.html" class="text-xs md:text-sm font-semibold text-white bg-blackish-green px-4 md:px-6 py-2 md:py-3 rounded-lg no-underline hover:bg-black transition-colors">Sign up</a>
      </div>

      <!-- BLOCK LOGGED IN (User) -->
      <ul id="logged-in-menu" class="m-0 list-none p-0 md:gap-8 items-center hidden">
        <li class="nav-item hidden md:flex">
          <img src="/assets/image/heart_light.svg" alt="Heart" />
          <a href="../favorites.html" class="text-blackish-green no-underline block">Favourites</a>
        </li>
        <li class="nav-item text-blackish-green hidden md:block bg-blackish-green w-0.5 h-4"></li>
        <!-- Dropdown Container -->
        <li class="group nav-item">
          <button id="user-menu-button" aria-expanded="false" class="text-blackish-green no-underline flex items-center h-auto gap-2">
            <div class="relative inline-flex">
              <img id="display-user-avatar" src="/assets/image/user-avt.png" alt="User Avatar" class="w-8 h-8 md:w-auto md:h-auto rounded-full object-cover" />
              <img src="/assets/image/ellipse.svg" alt="" class="w-2.5 absolute bottom-px right-px hidden md:block" />
              <img src="/assets/image/arrow-down_slamon.svg" alt="" class="w-3 absolute bottom-0 right-0 hidden md:block" />
            </div>
            <span id="display-user-name" class="hidden md:block">John D.</span>
          </button>

          <!-- User Menu -->
          <div id="user-dropdown" class="hidden flex-col absolute p-6 right-0 top-5 md:top-full mt-5 w-72 max-w-xs rounded-xl z-999 bg-white shadow-[0_2px_10px_0_rgba(0,0,0,0.05)]">
            <div class="flex items-center gap-4 py-2">
              <img src="/assets/image/user-avt.png" alt="John Doe." />
              <div class="flex flex-col w-full gap-1">
                <span id="dropdown-user-name" class="font-semibold text-blackish-green">John Doe.</span>
                <span class="text-sm font-normal text-blackish-green opacity-75">Online</span>
              </div>
            </div>

            <div class="h-px w-full my-4 bg-blackish-green opacity-25"></div>

            <ul class="flex flex-col list-none p-0">
              <li>
                <a href="../login-signup/account.html" class="dropdown-link">
                  <img src="/assets/image/user_light.svg" alt="#" />
                  My account
                  <img src="/assets/image/chevron-forward.svg" alt="#" class="ml-auto" />
                </a>
              </li>
              <li>
                <a href="../login-signup/account.html#payment-section" class="dropdown-link">
                  <img src="/assets/image/card_light.png" alt="#" />
                  Payments
                  <img src="/assets/image/chevron-forward.svg" alt="#" class="ml-auto" />
                </a>
              </li>
              <li>
                <a href="#" class="dropdown-link">
                  <img src="/assets/image/setting_light.png" alt="#" />
                  Setting
                  <img src="/assets/image/chevron-forward.svg" alt="#" class="ml-auto" />
                </a>
              </li>
            </ul>

            <div class="h-px w-full my-4 bg-blackish-green opacity-25"></div>

            <ul class="flex flex-col list-none p-0">
              <li>
                <a href="#" class="dropdown-link">
                  <img src="/assets/image/support_light.png" alt="#" />
                  Support
                  <img src="/assets/image/chevron-forward.svg" alt="#" class="ml-auto" />
                </a>
              </li>
              <li>
                <a href="#" id="btn-logout" class="dropdown-link">
                  <img src="/assets/image/logout_light.png" alt="#" />
                  Logout
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Mobile Dropdown Menu Container -->
  <nav id="nav-mobile" class="hidden md:hidden absolute top-full left-0 w-full bg-white shadow-lg border-t border-gray-100 z-40">
    <ul class="flex flex-col m-0 p-4 list-none gap-2">
      <li>
        <a href="../flight-flow/find-flight.html" class="flex items-center gap-3  text-blackish-green no-underline p-3 hover:bg-mint-cream rounded-md transition-colors {{#if flight_active}} bg-mint-green/30 font-bold {{else}} font-semibold {{/if}}">
          <img src="/assets/image/airplane_light.svg" alt="Flight" class="w-5 h-5" />
          Find Flight
        </a>
      </li>
      <li>
        <a href="../hotel-flow/find-stays.html" class="flex items-center gap-3  text-blackish-green no-underline p-3 hover:bg-mint-cream rounded-md transition-colors {{#if stays_active}} bg-mint-green/30 font-bold {{else}} font-semibold {{/if}}">
          <img src="/assets/image/bed_light.svg" alt="Stays" class="w-5 h-5" />
          Find Stays
        </a>
      </li>
      <!-- Favourites link visible on mobile if logged in -->
      <li>
        <a href="../favorites.html" class="flex items-center gap-3  text-blackish-green no-underline p-3 hover:bg-mint-cream rounded-md transition-colors {{#if favourites_active}} bg-mint-green/30 font-bold {{else}} font-semibold {{/if}}">
          <img src="/assets/image/heart_light.svg" alt="Heart" class="w-5 h-5" />
          Favourites
        </a>
      </li>
    </ul>
  </nav>
</header>
