* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f9fafb;
  color: #1f2937;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}
/* --- 1. HERO SECTION & NAVBAR --- */
.hero-section {
  position: relative;
  height: 650px;
  background-image:linear-gradient(90deg, rgba(0, 35, 77, 0.63), rgba(0, 35, 77, 0)), url(../image/find-flight.jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left a {
  display: inline-flex;
  align-items: center;
  margin-right: 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition: color 0.3s;
  text-decoration: none;
  color: white;
}

.navbar-left img {
  margin-right: 0.5rem;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.navbar-right a {
  margin-left: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.btn-signup {
  background-color: #ffffff;
  color: #111827;
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.navbar-left a:hover,
.navbar-right a:hover {
  color: #2dd4bf;
}

.btn-signup:hover {
  background-color: #0d9488;
  color: #ffffff;
}

.hero-content {
  text-align: center;
  margin-top: 6rem;
}

.hero-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.hero-content h1 {
  font-size: 3.75rem;
  font-weight: 800;
  letter-spacing: -0.02em;
  margin: 0.5rem 0 1rem 0;
}

.hero-content p {
  font-size: 1.125rem;
  font-weight: 500;
  opacity: 0.9;
}

