/* HEADER BLOCK */
.header {
  display: flex;
  padding: 20px 104px;
  height: 88px;
  align-items: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo-link {
  display: flex;
  align-items: center;
}

/* NAVBAR & USER ACTION BLOCK */
.navbar {
  display: flex;
  flex: 1;
}

.user-action {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.user-action__profile {
  display: flex;
  align-items: center;
  height: auto;
  gap: 8px;
}

.navbar__list,
.user-action__list {
  margin: 0;
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 32px;
}

.navbar__item {
  position: relative;
}

.navbar__item--active::after {
  position: absolute;
  content: "";
  bottom: -132%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--mint-green-color);
}

.navbar__item,
.user-action__item {
  font-size: 1.4rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.navbar__link,
.user-action__link {
  height: 16px;
  color: var(--blackish-green-color);
  text-decoration: none;
}

.user-action__item {
  position: relative;
}

.header__avatar-wrap {
  position: relative;
  display: inline-flex;
}

.user-action__arrow {
  width: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.user-action__ellipse {
  width: 10px;
  position: absolute;
  bottom: 1px;
  right: 1.5px;
}

.user-action__item:focus-within ~ .user-menu {
  display: block;
}

.user-action__item:hover .user-menu {
  display: block;
}

/* USER MENU BLOCK */
.user-menu {
  position: absolute;
  padding: 32px;
  right: 5%;
  top: calc(100% + 20px);
  width: 330px;
  border-radius: 12px;
  gap: 24px;
  z-index: 999;
  background-color: var(--white-color);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  display: none;
}

.user-menu__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 16px;
}

.user-menu__link {
  display: flex;
  text-decoration: none;
  line-height: 1;
  font-weight: 500;
  color: var(--blackish-green-color);
  align-items: center;
  gap: 16px;
}

.user__icon-arrow {
  margin-left: auto;
}

.user-menu__header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-menu__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
  /* margin: 12px 0px; */
}

.user-menu__info-name {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--blackish-green-color);
}

.user-menu__info-status {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--blackish-green-color);
  opacity: 0.75;
}

.user-menu__separator {
  height: 0.5px;
  width: 266px;
  background-color: var(--blackish-green-color);
  opacity: 0.25;
  margin: 22px 0;
}
/* BANNER */
.banner {
  background-image: linear-gradient(90deg, rgba(0, 35, 77, 0.63), rgba(0, 35, 77, 0)), url(../image/Banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 17.8%;

  padding: 80px 174px 120px 126px;
  aspect-ratio: 2.68 / 1;
  gap: 10px;
}

.banner__container {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: auto;
  gap: 8px;
}

.banner__heading {
  color: var(--white-color);
  line-height: 1;
  font-size: 45px;
  font-weight: 700;
  margin: 0;
  user-select: none;
}

.banner__desc {
  color: var(--white-color);
  line-height: 1;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  user-select: none;
}

/* HOTEL SEARCH */
.hotel-search {
  position: relative;
}

.search-form {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 86%;
  display: flex;
  max-width: 1232px;
  width: 100%;
  flex-direction: column;
  background-color: var(--white-color);
  padding: 32px 24px;
  gap: 32px;
  border-radius: 16px;
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
}

.search-form__title {
  margin: 0;
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  user-select: none;
}

.search-form__group {
  position: relative;
}

.search-form__fields {
  display: flex;
  gap: 16px;
}

.search-form__group:first-child {
  flex: 1;
}

.search-form__label {
  position: absolute;
  left: 10px;
  font-size: 1.4rem;
  font-weight: 400;
  transform: translatey(-50%);
  padding: 4px;
  background-color: var(--white-color);
}

.search-form__input-wrapper {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border: 1px solid #79747e;
  border-radius: 4px;
  gap: 10px;
}

.search-form__input {
  flex: 1;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  border: none;
  outline: none;
  background: transparent;
  margin-top: 3px;
  padding: 16px 0px;
}

.search-form__actions {
  display: flex;
  justify-content: flex-end;
  height: 45px;

  gap: 24px;
}

.search-form__promo {
  padding: 8px;
  background: transparent;
}

.search-form__submit {
  padding: 8px 16px;
  background-color: var(--mint-green-color);
}

.search-form__promo,
.search-form__submit {
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  align-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  gap: 10px;
}

/* Main Content */
.main-content {
  display: flex;
  flex-direction: column;
  max-width: 1232px;
  width: 100%;
  margin: 0px auto;
  gap: 32px;
}

/* Recent searches */
.recent-searches {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.section-title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  color: var(--text-color);
  margin: 0;
}

.recent-searches__list {
  display: flex;
  justify-content: space-between;
}

.recent-searches__item {
  display: flex;
  gap: 16px;
}

.recent-searches__item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.recent-searches__heading {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: var(--blackish-green-color);
  margin: 0;
}
.recent-searches__desc {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  color: var(--blackish-green-color);
  margin: 0;
}

.recent-searches__img {
  width: 90px;
  height: 90px;
  border-radius: 8px;
}

/* Travel Cards */
.travel-cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 24px;
}

.section-header__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.section-desc {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
}

.section-header__btn {
  height: 40px;
  width: 80px;
  border-radius: 4px;
  border: 1px solid var(--mint-green-color);
  padding: 8px 16px;
  background: transparent;
  cursor: pointer;
}

.travel-cards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.travel-cards__item {
  min-width: 296px;
  height: 420px;
  border-radius: 12px;
  padding: 24px;

  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}

.travel-cards__item-info {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.travel-cards__item-name {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.travel-cards__heading {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1;
  color: var(--white-color);
  margin: 0;
  user-select: none;
}

.travel-cards__desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  color: var(--white-color);
  margin: 0;
  user-select: none;
}

.travel-cards__cost {
  align-items: flex-end;
  user-select: none;
}

.travel-cards__btn {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.23;
  background-color: var(--mint-green-color);
  border-radius: 4px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

#Melbourne {
  background-image: url(../image/Melbourne.png);
}

#Paris {
  background-image: url(../image/Paris.png);
}

#London {
  background-image: url(../image/London.png);
}

#Columbia {
  background-image: url(../image/Columbia.png);
}
