/* BANNER */
.banner {
  background-image: linear-gradient(90deg, rgba(0, 35, 77, 0.63), rgba(0, 35, 77, 0)), url(../image/Banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 80px 174px 120px 126px;
  aspect-ratio: 2.68 / 1;
  gap: 10px;
}

.banner__container {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: auto;
  gap: 8px;
}

.banner__heading {
  color: var(--white-color);
  line-height: 1;
  font-size: 45px;
  font-weight: 700;
  margin: 0;
  user-select: none;
}

.banner__desc {
  color: var(--white-color);
  line-height: 1;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  user-select: none;
}

/* HOTEL SEARCH */
.hotel-search {
  position: relative;
}

.search-form {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 86%;
  display: flex;
  max-width: 1232px;
  width: 100%;
  flex-direction: column;
  background-color: var(--white-color);
  padding: 32px 24px;
  gap: 32px;
  border-radius: 16px;
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
}

.search-form__title {
  margin: 0;
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  user-select: none;
}

.search-form__group {
  position: relative;
}

.search-form__fields {
  display: flex;
  gap: 16px;
}

.search-form__group:first-child {
  flex: 1;
}

.search-form__label {
  position: absolute;
  left: 10px;
  font-size: 1.4rem;
  font-weight: 400;
  transform: translatey(-50%);
  padding: 4px;
  background-color: var(--white-color);
}

.search-form__input-wrapper {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border: 1px solid #79747e;
  border-radius: 4px;
  gap: 10px;
}

.search-form__input {
  flex: 1;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  border: none;
  outline: none;
  background: transparent;
  margin-top: 3px;
  padding: 16px 0px;
  width: 100%;
  min-width: 0;
}

.search-form__actions {
  display: flex;
  justify-content: flex-end;
  height: 45px;

  gap: 24px;
}

.search-form__promo {
  padding: 8px;
  background: transparent;
}

.search-form__submit {
  padding: 8px 16px;
  background-color: var(--mint-green-color);
}

.search-form__promo,
.search-form__submit {
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  align-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  gap: 10px;
}

/* Main Content */
.main-content {
  display: flex;
  flex-direction: column;
  max-width: 1232px;
  width: 100%;
  margin: 262px auto 0px;
  gap: 32px;
}

/* Recent searches */
.recent-searches {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.section-title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  color: var(--text-color);
  margin: 0;
}

.recent-searches__list {
  display: flex;
  justify-content: space-between;
}

.recent-searches__item {
  display: flex;
  gap: 16px;
}

.recent-searches__item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.recent-searches__heading {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: var(--blackish-green-color);
  margin: 0;
}
.recent-searches__desc {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  color: var(--blackish-green-color);
  margin: 0;
}

.recent-searches__img {
  width: 90px;
  height: 90px;
  border-radius: 8px;
}

/* Travel Cards */
.travel-cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 24px;
}

.section-header__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.section-desc {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
}

.section-header__btn {
  height: 40px;
  width: 80px;
  border-radius: 4px;
  border: 1px solid var(--mint-green-color);
  padding: 8px 16px;
  background: transparent;
  cursor: pointer;
}

.travel-cards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.travel-cards__item {
  min-width: 296px;
  height: 420px;
  border-radius: 12px;
  padding: 24px;

  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}

.travel-cards__item-info {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.travel-cards__item-name {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.travel-cards__heading {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1;
  color: var(--white-color);
  margin: 0;
  user-select: none;
}

.travel-cards__desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  color: var(--white-color);
  margin: 0;
  user-select: none;
}

.travel-cards__cost {
  align-items: flex-end;
  user-select: none;
}

.travel-cards__btn {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.23;
  background-color: var(--mint-green-color);
  border-radius: 4px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

#Melbourne {
  background-image: url(../image/Melbourne.png);
}

#Paris {
  background-image: url(../image/Paris.png);
}

#London {
  background-image: url(../image/London.png);
}

#Columbia {
  background-image: url(../image/Columbia.png);
}

/* Travel Destinations */
.travel-destinations {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.travel-destinations__layout {
  display: grid;
  grid-template-columns: 5fr 3fr 3fr;
  grid-template-rows: repeat(2, 200px);
  gap: 24px;
}

.travel-destinations__layout-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row: span 2;
  background-color: var(--mint-green-color);
  border-radius: 20px;
  padding: 24px;
}

.travel-destinations__introduce {
  position: relative;
}

.travel-destinations__name {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  margin: 0px 0px 24px 0px;
}

.travel-destinations__desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  color: var(--blackish-green-color);
  margin: 0;
}

.price-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
  padding: 8px;
  border-radius: 8px;
  gap: 4px;
  position: absolute;
  top: 0;
  right: 0;
}

.price-badge__label {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
}

.price-badge__amount {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}

.travel-destinations__action-btn {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2;
  background-color: var(--white-color);
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 8px 0px;
  cursor: pointer;
}

.travel-destinations__picture {
  border: 2px solid var(--mint-green-color);
  border-radius: 12px;
  background-size: cover;
  background-repeat: no-repeat;
}
